html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.star-rating button {
    font-size: 1.5em;
    margin-right: 5px;
    color: #aaaaaa;
}

.star-rating button:hover {
    color: #FFD700;
}